main.home {
  @extend .container-fluid;
  @extend .main-container;
  max-width: 1280px;
}

.home {
  &__links {
    color: $brand-info;
    @include make-row();
    @extend .header-container;
  }
  &__videos {
    @include make-row();
    @extend .main-container;
    padding-top: 0;
  }
  &__bottom {
    @include make-row();
    text-align: center;
  }
  .modal-dialog {
    width: auto;
    @extend .content-container;
    top: 50%;
    transform: translateY(-50%) !important;
  }
}
