main.home {
  @extend .container-fluid;
  @extend .main-container;
  max-width: 1280px;
}

.home {
  &__links {
    color: $brand-info;
    @include make-row();
    @extend .header-container;
  }
  &__videos {
    @include make-row();
    @extend .main-container;
    @media all and (min-width: $screen-sm-min) {
      padding-top: 0;
    }
  }
  &__bottom {
    @include make-row();
    text-align: center;
  }
  .modal {
    overflow: visible !important;
  }
  .modal-dialog {
    width: auto;
    @extend .content-container;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}
