.button {
  display: inline-block;
  padding: 16px 20px 12px;
  line-height: 32px;
  font-size: $jumbotron-font-size;
  border-radius: 4px;
  font-weight: 500;
  & > * {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }
  &--header-link {
    background-color: rgba(255,255,255,0.1);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
  }
  &--section-link {
    background-color: #ffffff;
    margin: 8px auto 12px;
    color: $brand-info !important;
  }
}

@media all and (max-width: $screen-xs-max) {
  .button {
    padding: 16px;
    line-height: 24px;
    font-size: $font-size-base;
    &--header-link {
      font-size: $font-size-h5;
      width: 130px;
      text-align: center;
      margin-left: 6px;
      margin-right: 6px;
      & > * {
        margin: 4px 0;
      }
    }
    &--section-link {
      margin: 0;
    }
  }
}

.btn-search {
  @include button-variant(#666, #FFF, #FFF);
  border-radius: 0;
}