// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.oos-search-form-control {
  @extend .form-control;
  border-radius: 0;
  border-color: #FFF;
  box-shadow: none;
  color: #666;

  &:focus {
    box-shadow: none;
    border-color: #FFF;
  }
}
